﻿<h2>Editar Informacion Personal</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/Postulante/edit/@Model.Id" method="post">

            <div class="form-group">
                <label for="">Id</label>
                <input type="text" name="Id" class="form-control" placeholder="Id" value="@Model.Id" readonly="true"/>
            </div>
            
            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" name="Nombres" class="form-control" placeholder="Nombre" value="@Model.Nombres"/>
            </div>
            <div class="form-group">
                <label for="">Apellido Paterno:</label>
                <input type="text" name="ApellidoPaterno" class="form-control" placeholder="Apellido Paterno" value="@Model.ApellidoPaterno"/>
            </div>

            <div class="form-group">
                <label for="">Apellido Materno:</label>
                <input type="text" name="ApellidoMaterno" class="form-control" placeholder="Apellido Materno" value="@Model.ApellidoMaterno" />
            </div>

            <div class="form-group">
                <label for="">Sexo:</label>
               <select class="form-control" name="Sexo">
                
                <option value= "M">Masculino</option>
                <option value= "F">Femenino</option>
            </select>
            </div>

            <div class="form-group">
                <label for="">Celular:</label>
                <input type="text" name="Celular" class="form-control" placeholder="Celular" value="@Model.Celular" />
            </div>

            <div class="form-group">
                <label for="">Correo Electronico:</label>
                <input type="text" name="CorreoElectronico" class="form-control" placeholder="Correo Electronico"  value="@Model.CorreoElectronico"/>
            </div>

            <div class="form-group">
                <label for="">DNI:</label>
                <input type="text" name="DNI" class="form-control" placeholder="DNI" value="@Model.DNI"/>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Cargo</label>
                <div class="editor-field">
                    @Html.DropDownList("idpuesto")
                    

                 @*   @Html.ValidationMessageFor(model => model.idPuesto)
                    )*@



                </div>
            </div>

            <button class="btn btn-primary">Guardar</button>
             <a href="/Postulante/Index" class="btn btn-danger">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>

        </form>
    </div>

</div>
