﻿@{
    ViewBag.Title = "MostrarAprobados";
}
<div>
<h2>Postulantes Aprobados: </h2> </div>
<form action="/Postulante/Aprobados" method="get">
<div class="form-group">
    <label class="col-sm-1 control-label">
        Puesto
    </label>
    <div class="editor-field">@Html.DropDownList("idPuesto")
            <button class="btn btn-primary">
                Mostrar</button>
</div>
   
    </form>

<table class="table tabble-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>ApellidoPaterno</th>
            <th>ApellidoMaterno</th>
            <th>Sexo</th>
            
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombres</td>
                <td>@item.ApellidoPaterno</td>
                <td>@item.ApellidoMaterno</td>
                <td>@item.Sexo</td>
            </tr>
        }
    </tbody>
</table>

<h2> Importante!</h2>

A todos los postulantes aprobados se les informa que la siguiente etapa se llevará a cabo el día 19 de diciembre del 2015.
</br>
</br>

<a href="/Home/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver
             </a>