﻿@model Modelos.Postulante


<div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Registrar Información Personal</h4></div>
  <div class="panel-body">

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/Postulante/create" method="post" enctype="multipart/form-data">

       <div class="form-group">
                <label for="">Nombres:</label>
                <input type="text" name="Nombres" class="form-control" placeholder="Nombres" />
                <span>@Html.ValidationMessage("Nombres")</span>
            </div>

            <div class="form-group">
                <label for="">Apellido Paterno:</label>
                <input type="text" name="ApellidoPaterno" class="form-control" placeholder="Apellido Paterno" />
                <span>@Html.ValidationMessage("ApellidoPaterno")</span>
            </div>

            <div class="form-group">
                <label for="">Apellido Materno:</label>
                <input type="text" name="ApellidoMaterno" class="form-control" placeholder="Apellido Materno" />
                <span>@Html.ValidationMessage("ApellidoMaterno")</span>
            </div>

            <div class="form-group">
                <label for="">Sexo:</label>
               <select class="form-control" name="Sexo">
                <option value= "M">Masculino</option>
                <option value= "F">Femenino</option>
            </select>
                <span>@Html.ValidationMessage("Sexo")</span>
            </div>


            <div class="form-group">
                <label for="">Celular:</label>
                <input type="text" name="Celular" class="form-control" placeholder="Celular" />
                <span>@Html.ValidationMessage("Celular")</span>
            </div>

            <div class="form-group">
                <label for="">Correo Electronico:</label>
                <input type="text" name="CorreoElectronico" class="form-control" placeholder="correo@hotmail.com" />
                <span>@Html.ValidationMessage("CorreoElectronico")</span>
            </div>

            <div class="form-group">
                <label for="">DNI:</label>
                <input type="text" name="DNI" class="form-control" placeholder="DNI" />
                <span>@Html.ValidationMessage("DNI")</span>
            </div>

            <div class="form-group">
                <label for="">Adjuntar Documento:</label>
                <input type="file" name="file" />
            </div>

            <div class="form-group">
        <label class="col-sm-2 control-label">Puesto</label>
        <div class="editor-field" >
            @Html.DropDownList("idPuesto")
            @Html.ValidationMessageFor(model => model.idPuesto)

        </div>
        </div>

            <button class="btn btn-primary">
                  <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                Guardar</button>
             
             <a href="/Postulante/Index" class="btn btn-danger">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>
        </form>
    </div>

</div>
      </div>
</div>

