﻿ @foreach(var item in Model)
     
     {
 <tr>
                <td style="text-align: center"><input type="checkbox" name="EstaAprobado" value="@item.EstaAprobado" checked="@item.EstaAprobado"/></td>
                <td>@item.Id</td>
                <td>@item.Nombres</td>
                <td>@item.ApellidoPaterno</td>
                <td>@item.ApellidoMaterno</td>
                <td>@item.Sexo</td>
                <td>@item.Celular</td>
                <td>@item.CorreoElectronico</td>
                <td>@item.DNI</td>
                <td><a href="@item.Path" target="_blank"> Ver Curriculum</a></td>
            </tr>
 }
