﻿<h2>Seleccionar Postulantes Aptos:</h2>
<form action="/Seleccionar/SeleccionarAprobados" method="post">
<div class="form-group">
    <label class="col-sm-1 control-label">
        Puesto
    </label>
     <select name="Puesto" id="PuestoSelect" class="form-control">
           @foreach (var item in ViewBag.Puesto)
           { 
           <option value="@item.Nombre">@item.Nombre</option>
               
           }
         </select>
      <div class="col-md-3">
                 <a  class="btn btn-primary" id="LinkAddPostulantes" onclick="CargarContenidoEnTablaDesdeTabla()">Seleccionar</a>
             </div>
    </div>
 @*   <div class="editor-field">@Html.DropDownList("idPuesto")
            <button class="btn btn-primary">
                Seleccionar</button>
</div>*@

    </form>
<table class="table tabble-striped table-hover">
    <thead>
        <tr>
            <th>Aprobado</th>
            <th>Id</th>
            <th>Nombre</th>
            <th>ApellidoPaterno</th>
            <th>ApellidoMaterno</th>
            <th>Sexo</th>
            <th>Celular</th>
            <th>Correo</th>
            <th>DNI</th>
            <th>Curriculum</th>
        </tr>
    </thead>   
    <tbody  id="TBodyPostulantes">
       @* @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center"><input type="checkbox" name="EstaAprobado" value="@item.EstaAprobado" checked="@item.EstaAprobado"/></td>
                <td>@item.Id</td>
                <td>@item.Nombres</td>
                <td>@item.ApellidoPaterno</td>
                <td>@item.ApellidoMaterno</td>
                <td>@item.Sexo</td>
                <td>@item.Celular</td>
                <td>@item.CorreoElectronico</td>
                <td>@item.DNI</td>
                <td><a href="@item.Path" target="_blank"> Ver Curriculum</a></td>
            </tr>
        }*@
    </tbody>
</table>
</br>
<a href="/Home/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver
             </a>
<a href="/Seleccionar/SeleccionarPostulantes" class="btn btn-primary" >
                        <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        Guardar
             </a>
<script>
    function CargarContenidoEnTablaDesdeTabla(e) {
        console.log($('#PuestoSelect').val());
        $.get("SeleccionarPostulantes", {
            id: $('#PuestoSelect').val()
        }).success(function (result) {
            $('#TBodyPostulantes').html(result);
        });
    }
</script>