﻿<h2>Editar Informacion Puesto</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/Puesto/edit/@Model.Id" method="post">

            <div class="form-group">
                <label for="">id:</label>
                <input type="text" readonly="true" name="IdPuesto" class="form-control" placeholder="IdPuesto" value="@Model.Id"/>
            </div>
           @* arrglado por tony senpai*@
            <div class="form-group">
                <label for="">Nombre:</label>
                <input type="text" name="Nombre" class="form-control" placeholder="Nombre" value="@Model.Nombre"/>
            </div>
            <div class="form-group">
                <label for="">Descripcion:</label>
                <input type="text" name="Descripcion" class="form-control" placeholder="Descripcion" value="@Model.Descripcion"/>
            </div>

            <div class="form-group">
                <label for="">CantidadVacantes:</label>
                <input type="text" name="CantidadVacantes" class="form-control" placeholder="CantidadVacantes" value="@Model.CantidadVacantes" />
            </div>

           
            <div class="form-group">
                <label for="">FechaInicio:</label>
                <input type="date" name="FechaInicio" class="form-control" placeholder="FechaInicio" value="@Model.FechaInicio" />
            </div>

            <div class="form-group">
                <label for="">FechaFin:</label>
                <input type="date" name="FechaFin" class="form-control" placeholder="FechaFin"  value="@Model.FechaFin"/>
            </div>

       

            <button class="btn btn-primary">Guardar</button>
             <a href="/Prueba/Index" class="btn btn-danger">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>

        </form>
    </div>

</div>
