﻿    <h2>Lista Puestos</h2>

@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}
    <form action="/Puesto/Index" method="get">

    <div class="row">
        <div class="col-md-3">
            <input type="text" name="query" class="form-control" placeholder="Buscar..." />
           
        </div>
        
        <div class="col-md-4">
            <button class="btn btn-primary">
               <span  class="glyphicon glyphicon-search" aria-hidden="true"></span>
                 
                Buscar</button>

             <a href="/Puesto/create" class="btn btn-success">
                  <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 Registrar Puesto</a>
        </div>
    </div>
</form>

<table class="table tabble-striped table-hover">
    <thead>
        <tr>
          
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Cantidad Vacantes</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.CantidadVacantes</td>
                <td>@item.FechaInicio</td>
                <td>@item.FechaFin</td>
                
                <td>
                    <a href="/puesto/edit/@item.Id">
                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                         Editar</a> |
                    <a href="/puesto/delete/@item.Id" 
                        onclick="return confirm(' Desea eliminar al puesto : @item.Nombre');">
                        <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<a href="/Home/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver
             </a>
