﻿
<div class="row">
    <div class="col-md-5 col-md-offset-3 ">
        <form action="/Puesto/create" method="post">
      <div class="panel panel-info">
            <div class="panel-heading" style="text-align:center">
                <h4>Registrar Información Puesto</h4></div>
            <div class="panel-body">

            <div class="col-sm-8">
                <label for="">Nombre:</label>
                <input type="text" name="Nombre" class="form-control" placeholder="Nombre" />
                <span>@Html.ValidationMessage("Nombre")</span>
            </div>

            </br></br>    </br></br>    </br></br>
            <div class="col-sm-8">
                <label for="">Descripcion:</label>
                <textarea name="Descripcion" class="form-control" placeholder="Descripcion" ></textarea>
                <span>@Html.ValidationMessage("Descripcion")</span>
            </div>


            </br></br>    </br></br>    </br></br>
            <div class="col-sm-4">
                <label for="">Cantidad Vacante:</label>
                <input type="text" name="CantidadVacantes" class="form-control" placeholder="Nº Vac." />
                <span>@Html.ValidationMessage("CantidadVacantes")</span>
            </div>


                </br></br>    </br></br>    </br></br>
            <div class="col-sm-6">
                <label for="">Fecha Inicio:</label>
                <input type="date" name="FechaInicio" class="form-control"  />
                <span>@Html.ValidationMessage("FechaInicio")</span>
            </div>
    
                </br></br>    </br></br>    </br></br>
            <div class="col-sm-6">
                <label for="">Fecha Fin:</label>
                <input type="date" name="FechaFin" class="form-control"  />
                <span>@Html.ValidationMessage("FechaFin")</span>
            </div>
    
                </br></br>    </br></br>    </br></br>
           <div class="col-md-8" style="text-align:center">
                 <button class="btn btn-primary" >
                  <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                Guardar</button>
             
             <a href="/Prueba/Index" class="btn btn-danger">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>
               </div>
   	     </div>
    	     </div>
</div>
      
        </form>
    </div>
</div>



