﻿@model  Modelos.Preguntas

<h2>Registrar Preguntas</h2>

@*<div class="row">
    <div class="col-md-8 col-md-offset-2">
        
     </div>
 </div>*@


<form action="/Preguntas/create" method="post">

           <div class="form-group">
                <label class="col-sm-3 control-label">Seleccionar Puesto: </label>
                <div class="editor-field col-sm-3" >
                    @Html.DropDownList("idPuesto")  
                    <div class="form-group">                
                          <span>@Html.ValidationMessage("idPuesto")</span>

                    </div>
                </div>
            </div>                   
             
            <div class="form-group">
                <label for="">Ingrese Una nueva Pregunta:</label>
                <input type="text" name="Pregunta" class="form-control" placeholder="Pregunta?" />
                  <span>@Html.ValidationMessage("Pregunta")</span>
            </div>           

            <button class="btn btn-primary">
                  <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                Guardar</button>
             
             <a href="/Preguntas/Index" class="btn btn-danger">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>
        </form>