﻿<h2>Editar Pregunta</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/Preguntas/edit/@Model.Id" method="post">

            <div class="form-group">
                <label class="col-sm-2 control-label">Cargo</label>
                <div class="editor-field">
                    @Html.DropDownList("idpuesto")
                </div>
            </div>

             <div class="form-group">
                <label for="">Pregunta:</label> 
                <input type="text" name="Pregunta" class="form-control" placeholder="Pregunta ?" value="@Model.Pregunta"/>
            </div>
            
            <button class="btn btn-primary">Guardar</button>
             <a href="/Preguntas/Index" class="btn btn-danger">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>

        </form>
    </div>

</div>
