﻿

 @{
     int  i=0;
           
     foreach(var item in Model)
     
     {
         //string ids = "cvs" + i;
         //string id2 = "cvs" + i;
            <tr>
               <td hidden="hidden">i</td>
                <td>@item.Nombres</td>
                <td>@item.ApellidoPaterno</td>
                <td>@item.ApellidoMaterno</td> 
                <td>@item.Sexo</td> 
                <td>@item.Celular</td> 
                 <td style="text-align: center">
                 <input type="checkbox" id="Marcar" onclick="Mpostulantes(@item.Id, @i)"/></td>              
            </tr>
         i++;
           }
     }
<script>

    //$("#Marcar").change(function(e){
    //    console.log("OK");
    //    var id = 0;
    //    $("#TBodyPostulantes")
    //});
    function Mpostulantes(indice, i) {
        console.log(indice);
        console.log(i);
        var total = $("#TBodyPostulantes").find('tr').length;
        console.log(total);
       
        $("#TBodyPostulantes input[type=checkbox]").attr('disabled', true);
        $("#TBodyPostulantes").find('disable', false);

    //    $("#TBodyPostulantes tr:eq("+i+")").find('td:eq(6)').each(function(){
    //    //console.log(ids + "");         
       
    //}
    
</script>