﻿@*@model List<Modelos.CriteriosEvaluacion>    *@


@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}
<form action="/RubricaCalificacion/Calificacion" method="post">
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Prueba de Calificación</div>
        <div class="panel-body">

<fieldset class="form-horizontal">

                    <div class="col-md-6">
                        <div class="panel panel-default">
                             <div class="panel-heading">Prueba de Conocimientos</div>
                            <div class="panel-body">

                                <div class="form-group">
                                     <label>Puesto</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                   
                                                          
       <select name="Puesto" id="PuestoSelect" class="form-control">
           @foreach (var item in ViewBag.Puesto)
           { 
           <option value="@item.Nombre">@item.Nombre</option>
               
           }
       </select>
         </div>              
             <div class="col-md-3">
                 <a  class="btn btn-primary" id="LinkAddPostulantes" onclick="CargarContenidoEnTablaDesdeTabla()">+</a>
             </div>
              
           </div>                           
       </div>                            
       </div>  
                         
                                
 <table class="table tabble-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>ApellidoP</th>
            <th>ApellidoM</th>  
            <th>Sexo</th>
            <th>Celular</th> 
            <th>Seleccionar</th>           
        </tr>
    </thead>   
    <tbody id="TBodyPostulantes">    
  
     </tbody>
 </table>                              
       </div>
           </div>
          
                 <div class="col-md-6">
                       <div class="col-md-9">
                    <div class="panel panel-default">
                       <div class="panel-body">
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Aspecto</th>           
            <th>Criterio1</th>
            <th>Criterio2</th> 
                                  
        </tr>
    </thead>   
    <tbody>         
        <tr>            
            <td>Puntualidad</td>            
            <td>
                <input  type="number" class="form-control" id="p1" value="0"/>
            </td>
            <td>
                <input  type="number" class="form-control" id="p2" value="0"/>
            </td>
        </tr>  
         <tr>
            <td>Conocimientos</td>
            <td>
                <input  type="number" class="form-control" id="p3" value="0"/>
            </td>
            <td>
                <input  type="number" class="form-control" id="id4" value="0"/>
            </td>
        </tr> 
         <tr>
            <td>Presentacion</td>
            <td>
                <input  type="number" class="form-control" id="id5"  value="0"/>
            </td>
            <td>
                <input  type="number" class="form-control" id="id6" value="0"/>
            </td>
        </tr>        
   
    </tbody>
</table>            
           </div>
             </div>
                </div>   
        </div>      <form>       
                   <div class="col-md-12" style="float:right; text-align:right">
                     <label>Puntaje:</label>
                     <input type="number" id="total" value="0"/>
                       
                       <a href="/Home/Index" class="btn btn-primary" >
                        <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        Guardar
                        </a>
                                                       
                        <a href="/Home/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver
                          </a>                      
                    </div>
            </form>  
                </fieldset> 
                </div>
          </div>
  </div>
    </form>

<script> 

    function CargarContenidoEnTablaDesdeTabla(e) {
        console.log($('#PuestoSelect').val());
        $.get("BuscarPostulantes", {
            id: $('#PuestoSelect').val()
        }).success(function (result) {
            $('#TBodyPostulantes').html(result);
        });
    }

    $("#p6").change(function (e) {
        numero1 = $("#p1").val();
        numero2 = $("#p2").val();
        numero3 = $("#p3").val();
        numero4 = $("#id4").val();
        numero5 = $("#id5").val();
        numero6 = $("#id6").val();

        suma = parseInt(numero1) + parseInt(numero2) + parseInt(numero3)+ parseInt(numero4)
         + parseInt(numero5) + parseInt(numero6);

        $("#total").val(suma);
        console.log(suma);
    });

    $("#p5").change(function (e) {
        numero1 = $("#p1").val();
        numero2 = $("#p2").val();
        numero3 = $("#p3").val();
        numero4 = $("#id4").val();
        numero5 = $("#id5").val();
        numero6 = $("#id6").val();

        suma = parseInt(numero1) + parseInt(numero2) + parseInt(numero3)+ parseInt(numero4)
         + parseInt(numero5) + parseInt(numero6);

        $("#total").val(suma);
        console.log(suma);
    });
    $("#p4").change(function (e) {
        numero1 = $("#p1").val();
        numero2 = $("#p2").val();
        numero3 = $("#p3").val();
        numero4 = $("#id4").val();
        numero5 = $("#id5").val();
        numero6 = $("#id6").val();

        suma = parseInt(numero1) + parseInt(numero2) + parseInt(numero3)+ parseInt(numero4)
         + parseInt(numero5) + parseInt(numero6);

        $("#total").val(suma);
        console.log(suma);
    });
    $("#p3").change(function (e) {
        numero1 = $("#p1").val();
        numero2 = $("#p2").val();
        numero3 = $("#p3").val();
        numero4 = $("#id4").val();
        numero5 = $("#id5").val();
        numero6 = $("#id6").val();

        suma = parseInt(numero1) + parseInt(numero2) + parseInt(numero3)+ parseInt(numero4)
         + parseInt(numero5) + parseInt(numero6);

        $("#total").val(suma);
        console.log(suma);
    });
    $("#p2").change(function (e) {
        numero1 = $("#p1").val();
        numero2 = $("#p2").val();
        numero3 = $("#p3").val();
        numero4 = $("#id4").val();
        numero5 = $("#id5").val();
        numero6 = $("#id6").val();

        suma = parseInt(numero1) + parseInt(numero2) + parseInt(numero3)+ parseInt(numero4)
         + parseInt(numero5) + parseInt(numero6);

        $("#total").val(suma);
        console.log(suma);
    });
    $("#p1").change(function (e) {
        numero1 = $("#p1").val();
        numero2 = $("#p2").val();
        numero3 = $("#p3").val();
        numero4 = $("#id4").val();
        numero5 = $("#id5").val();
        numero6 = $("#id6").val();
        
        suma = parseInt(numero1) + parseInt(numero2) + parseInt(numero3)+ parseInt(numero4)
         + parseInt(numero5) + parseInt(numero6);

        $("#total").val(suma);
        console.log(suma);
    });

</script>