﻿<table>
<tr>
    <td>@Model.Id</td>   
    <td>@Model.ApellidoPaterno</td>
    <td>@Model.ApellidoMaterno</td>
    <td>@Model.Sexo</td>
    <td>@Model.Celular</td>
    <td  class="col-md-1">
        <input type="text" class="form-control" name="Postulante[@ViewBag.Posicion].cantidad" />
        <input type="hidden" class="form-control" name="Postulante[@ViewBag.posicion].Id" value="@Model.Id"
    </td>
</tr>
</table>

<script>

</script>