﻿<h2>Editar Puntuacion Criterios Evaluacion</h2>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/CriterioEvaluacion/edit/@Model.Id" method="post">

            <div class="form-group">
                <label for="">Presencia:</label>
               <select class="form-control" name="Presencia">
                <option value= "5">Muy Bien</option>
                <option value= "4">Bien</option>
                <option value= "3">Regular</option>
                <option value= "2">Malo</option>
                <option value= "1">Muy Malo</option>
            </select>
            </div>

             <div class="form-group">
                <label for="">Dominio Tema:</label>
               <select class="form-control" name="DominioTema">
                <option value= "5">Muy Bien</option>
                <option value= "4">Bien</option>
                <option value= "3">Regular</option>
                <option value= "2">Malo</option>
                <option value= "1">Muy Malo</option>
            </select>
            </div>

             <div class="form-group">
                <label for="">Personalidad:</label>
               <select class="form-control" name="Personalidad">
                <option value= "5">Muy Bien</option>
                <option value= "4">Bien</option>
                <option value= "3">Regular</option>
                <option value= "2">Malo</option>
                <option value= "1">Muy Malo</option>
            </select>
            </div>

            <button class="btn btn-primary">Guardar</button>
             <a href="/CriterioEvaluacion/Index" class="btn btn-danger">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>

        </form>
    </div>

</div>
