﻿
@*@model List<Modelos.Postulante>*@
    <h2>Lista Criterios Evaluacion</h2>

@if (TempData["UpdateSuccess"] != null)
{ 
<div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}
    <form action="/CriterioEvaluacion" method="get">

    @*<div class="row">
        <div class="col-md-3">
            <input type="text" name="query" class="form-control" placeholder="Buscar..." />
           
        </div>*@
        
        @*<div class="col-md-4">
            <button class="btn btn-primary">
               <span  class="glyphicon glyphicon-search" aria-hidden="true"></span>
                 
                Buscar</button>*@

             <a href="/CriterioEvaluacion/create" class="btn btn-success">
                  <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 Solo apra ver los critieros, falta pensarla</a>
        @*</div>*@
   @* </div>*@
</form>

<table class="table tabble-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Presencia</th>
            <th>Dominio Tema</th>
            <th>Personalidad</th>
        </tr>
    </thead>   
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Presencia</td>
                <td>@item.DominioTema</td>
                <td>@item.Personalidad</td>
                
                <td>
                    <a href="/CriterioEvaluacion/edit/@item.Id">
                        <span  class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                         Editar</a> @*|
                    <a href="/postulante/delete/@item.Id" 
                        onclick="return confirm(' Desea eliminar al postulante : @item.Nombres'">
                        <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Eliminar</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


<a href="/Home/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver
             </a>