﻿
<div class="panel panel-info">
  <div class="panel-heading" style="text-align:center">
      <h4>Criterios Evaluacion</h4></div>
  <div class="panel-body">

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/CriterioEvaluacion/create" method="post">

        <div class="form-group">
                <label for="">Presencia:</label>
               <select class="form-control" name="Presencia">
                <option value= "5">Muy Bien</option>
                <option value= "4">Bien</option>
                <option value= "3">Regular</option>
                <option value= "2">Malo</option>
                <option value= "1">Muy Malo</option>
            </select>
            <span>@Html.ValidationMessage("Presencia")</span>
            </div>

             <div class="form-group">
                <label for="">Dominio Tema:</label>
               <select class="form-control" name="DominioTema">
                <option value= "5">Muy Bien</option>
                <option value= "4">Bien</option>
                <option value= "3">Regular</option>
                <option value= "2">Malo</option>
                <option value= "1">Muy Malo</option>
            </select>
                 <span>@Html.ValidationMessage("DominioTema")</span>
            </div>

             <div class="form-group">
                <label for="">Personalidad:</label>
               <select class="form-control" name="Personalidad">
                <option value= "5">Muy Bien</option>
                <option value= "4">Bien</option>
                <option value= "3">Regular</option>
                <option value= "2">Malo</option>
                <option value= "1">Muy Malo</option>
            </select>
                 <span>@Html.ValidationMessage("Personalidad")</span>
            </div>

            <button class="btn btn-primary">
                  <span  class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                Guardar</button>
             
             <a href="/CriterioEvaluacion/Index" class="btn btn-danger">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Cancelar
             </a>
        </form>
    </div>

</div>
      </div>
</div>

