﻿ @foreach(var item in Model)
     
     {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombres</td>
                <td>@item.ApellidoPaterno</td>
                <td>@item.ApellidoMaterno</td>
                <td>@item.Sexo</td>
            </tr>
 }
