﻿<center>
    <img  src="/Imagenes/SG.png"  height="202" width="252" >
</center>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
<div class="panel panel-primary">
  <div class="panel-heading" style="text-align:center">Menú Principal</div>
  <div class="panel-body">
    <a href="/Postulante/Index" class="btn btn-info">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                       Seleccionar Postulante
</a>
      </br>
    </br>
        <a href="/Preguntas/Index" class="btn btn-info">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Preguntas de Conocimiento
             </a>
    </br>
       </br>
      <a href="/Preguntas/Prueba" class="btn btn-info">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Generar Preguntas de Conocimiento
             </a>
        </br>
       </br>
      <a href="/Aprobados/Index" class="btn btn-info">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Mostrar Postulantes Aprobados
             </a>
      <br />
      <br />

      <a href="/Seleccionar/Index" class="btn btn-info">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Revisión de Curriculums
             </a>
      <br />
      <br />

      <a href="/RubricaCalificacion/Index" class="btn btn-info">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Calificacion
             </a>
        </br>
       </br>
      <a href="/Puesto/Index" class="btn btn-info">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Puestos de Trabajo
             </a>

      </br>
       </br>
      <a href="/RubricaCalificacion/Index" class="btn btn-info">
                        <span  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        Criterios Evaluacion
             </a>
        <br />
      <br />
       
  </div>
    </div>
        </div>
</div>
