﻿@{
    ViewBag.Title = "MostrarCurriculum";
}

<h2>MostrarCurriculum</h2>

<a href="/Home/Index" class="btn btn-danger" >
                        <span  class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver
             </a>